{% extends '../base.html' %}
{% block title %}
Collections
{% endblock %}
{% block content %}

<h1>
  Collections
</h1>
<a class="btn btn-primary btn-round mb-3" href="{% url 'collections_create' %}">Add a Collection</a>
<div class="list-group">
  {% for collection in collection_list %}
  <a href="{% url 'collections_detail' collection.id %}"
     class="list-group-item list-group-item-action">
    {{ collection.name }}
    <i>({{ collection.user }})</i>
  </a>
  {% empty %}
  Ther are no collections!
  {% endfor %}
</div>

{% endblock %}
