{% extends '../base.html' %}
{% block title %}
Collection Detail
{% endblock %}
{% block content %}

<h1>
  {{ collection.name }}
</h1>

{% for picture in collection.pictures3_set.all %}
<div class="card mb-2">
  <img class="card-img-top" src="{{ picture.url }}">
</div>
{% empty %}
<form class="mb-2" action="{% url 'collections_add_s3_picture' collection.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <input class="form-control-file" type="file" name="file">
  </div>
  <input class="btn btn-primary" type="submit" value="Upload Cover Photo">
</form>
{% endfor %}

<a class="btn btn-primary btn-round mb-3" href="{% url 'items_create' %}">Add Item</a>
<a class="btn btn-secondary btn-round mb-3" href="{% url 'collections_update' collection.id %}">Edit</a>
<a class="btn btn-secondary btn-round mb-3" href="{% url 'collections_delete' collection.id %}">Delete</a>

<div class="list-group">
  {% for item in items %}
  <a href="{% url 'items_detail' item.id %}" class="list-group-item list-group-item-action">
    <h5>{{ item.name }}</h5>
    <i>{{ item.description }}</i>
  </a>
  {% empty %}
  Ther are no items here!
  {% endfor %}
</div>

{% endblock %}
