{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}

<div class="jumbotron">
<h1 class="display-4">
  Showoff
</h1>
<p class="lead">
  A place to show off your collections of stuff to your friends
</p>
<hr class="my-4">
<p>
  Make collections, share collections. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Reprehenderit, sequi dignissimos molestiae distinctio, velit
  iure dolore, ipsum minima repellat ipsa voluptas aliquam illum veniam maxime
  itaque saepe nemo in quia!
</p>
<a class="btn btn-primary btn-lg" href="#">Try It</a>
</div>

{% endblock %}
