{% extends '../base.html' %}
{% block title %}
Collection Detail
{% endblock %}
{% block content %}

<h1>
  {{ collection.name }}
</h1>

<a class="btn btn-primary btn-round mb-3" href="{% url 'collections_update' collection.id %}">Edit</a>
<a class="btn btn-primary btn-round mb-3" href="{% url 'collections_delete' collection.id %}">Delete</a>

<div class="list-group">
  {% for item in items %}
  <a href="{% url 'items_detail' item.id %}" class="list-group-item list-group-item-action">
    <h5>{{ item.name }}</h5>
    <i>{{ item.description }}</i>
  </a>
  {% empty %}
  Ther are no items here!
  {% endfor %}
</div>

{% endblock %}
